.alert-box {
  margin-top: 20px;
  padding: 10px;
}

.alert-box.error {
  background-color: #f44336;
}

.alert-box.success {
  background-color: #04aa6d;
}

.alert-close-button {
  color: var(--white-elo-group);
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alert-close-button:hover {
  color: var(--gray-elo-group);
}
